# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Second Task.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\79508\OneDrive\Документы\Unity project\Second Task\.idea\.idea.Second Task\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
